<div class="container">
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Search provider"
          aria-label="Recipient's providername"
          aria-describedby="button-addon2"
          #termino
          (keyup)="searchProvider(termino.value)"
        />
        <button
          class="btn btn-search"
          type="button"
          id="button-addon2"
          (click)="searchProvider(termino.value)"
        >
          <mat-icon>search</mat-icon>
        </button>
      </div>
    </div>
    <div class="col-12 col-md-6 text-center mb-3">
      <button
        mat-flat-button
        color="primary"
        (click)="openModalCreateProvider()"
      >
        Create Provider <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
  <div class="mat-elevation-z8">
    <div class="table">
      <table mat-table [dataSource]="dataSource">
        <!-- Position Column -->
        <ng-container matColumnDef="codproveedor">
          <th mat-header-cell *matHeaderCellDef>ID.</th>
          <td mat-cell *matCellDef="let provider">
            {{ provider.codproveedor }}
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="proveedor">
          <th mat-header-cell *matHeaderCellDef>Proveedor</th>
          <td mat-cell *matCellDef="let provider">{{ provider.proveedor }}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="contacto">
          <th mat-header-cell *matHeaderCellDef>contacto</th>
          <td mat-cell *matCellDef="let provider">{{ provider.contacto }}</td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="telefono">
          <th mat-header-cell *matHeaderCellDef>telefono</th>
          <td mat-cell *matCellDef="let provider">{{ provider.telefono }}</td>
        </ng-container>
        <ng-container matColumnDef="date_add">
          <th mat-header-cell *matHeaderCellDef>fecha</th>
          <td mat-cell *matCellDef="let provider">
            {{ provider.date_add | date }}
          </td>
        </ng-container>
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef>Accions</th>
          <td mat-cell *matCellDef="let provider">
            <button
              mat-icon-button
              color="primary"
              (click)="openModalUpdate(provider)"
              aria-label="Example icon button with a home icon"
            >
              <mat-icon>edit</mat-icon></button
            >|
            <button
              mat-icon-button
              color="warn"
              (click)="deleteProvider(provider)"
              aria-label="Example icon button with a heart icon"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of periodic elements"
    >
    </mat-paginator>
  </div>
</div>
<!-- Modal Create provider -->
<ng-template #contenidoCreate let-modal>
  <form [formGroup]="modalFormCreate" (ngSubmit)="CreateProvider()">
    <div class="modal-body p-5">
      <h1 class="text-center">Create provider</h1>
      <div class="mb-2">
        <label for="proveedor" class="col-form-label">Proveedor:</label>
        <input
          type="text"
          class="form-control"
          formControlName="proveedor"
          id="proveedor"
        />
        <span *ngIf="isValidField('proveedor')" class="form-text text-danger">
          {{ getFieldError("proveedor") }}
        </span>
      </div>
      <div class="mb-2">
        <label for="contacto" class="col-form-label">Contacto:</label>
        <input
          type="text"
          class="form-control"
          formControlName="contacto"
          id="contacto"
        />
        <span *ngIf="isValidField('contacto')" class="form-text text-danger">
          {{ getFieldError("contacto") }}
        </span>
      </div>

      <input type="hidden" formControlName="usuario_id" />
      <div class="mb-2">
        <label for="direccion" class="col-form-label">direccion:</label>
        <input
          type="text"
          class="form-control"
          formControlName="direccion"
          id="direccion"
        />
        <span *ngIf="isValidField('direccion')" class="form-text text-danger">
          {{ getFieldError("direccion") }}
        </span>
      </div>
      <div class="mb-2">
        <label for="telefono" class="col-form-label">Telefono:</label>
        <input
          type="text"
          class="form-control"
          formControlName="telefono"
          id="telefono"
        />
        <span *ngIf="isValidField('telefono')" class="form-text text-danger">
          {{ getFieldError("telefono") }}
        </span>
      </div>
    </div>
    <div class="modal-footer text-center">
      <button type="submit" mat-flat-button color="primary" [disabled]="modalFormCreate.invalid">Create</button>
      <button type="button" class="btn btn-danger" (click)="modal.close()">
        cancelar
      </button>
    </div>
  </form>
</ng-template>

<!-- Modal udpdate -->
<ng-template #contenidoUpdate let-modal>
  <form [formGroup]="modalForm" (ngSubmit)="updateProvider()">
    <div class="modal-body p-5">
      <h1 class="text-center">Create provider</h1>
      <div class="mb-2">
        <label for="proveedor" class="col-form-label">Proveedor:</label>
        <input
          type="text"
          class="form-control"
          formControlName="proveedor"
          id="proveedor"
        />
      </div>
      <div class="mb-2">
        <label for="contacto" class="col-form-label">Contacto:</label>
        <input
          type="text"
          class="form-control"
          formControlName="contacto"
          id="contacto"
        />
      </div>

      <input type="hidden" formControlName="usuario_id" />
      <div class="mb-2">
        <label for="direccion" class="col-form-label">direccion:</label>
        <input
          type="text"
          class="form-control"
          formControlName="direccion"
          id="direccion"
        />
      </div>
      <div class="mb-2">
        <label for="telefono" class="col-form-label">telefono:</label>
        <input
          type="number"
          class="form-control"
          formControlName="telefono"
          id="telefono"
        />
      </div>
    </div>
    <div class="modal-footer text-center">
      <button type="submit" mat-flat-button color="primary">Update</button>
      <button type="button" class="btn btn-danger" (click)="modal.close()">
        cancelar
      </button>
    </div>
  </form>
</ng-template>
