.mat-toolbar {

  background: var(--blue-2) !important;
  position: staicky;
  color: var(--blue-6);
  .icon-login {
    margin-top: 5px;
  }
  .user-name{
    font-size: 1rem;
    font-weight: bold;
    margin:0 10px 0 10px;

  }


  .btn {
    outline: none;
    border: 0;
    background: transparent;
    color: white;
    cursor: pointer;
    width: auto;
    .btn_menu{
      width: 100px;
    }

  }

}
.example-spacer {
  flex: 1 1 auto;
}

.img_header{
  width: 80%;
  height: 80%;
  margin: 10px;
  border-radius:10px;
}
::ng-deep .customize {
 margin-top: 10px;
}



.settings{
width: 300px;

.col   {
  margin: auto;


}

}





