

  <p>
    <mat-toolbar >
      <button mat-icon-button  (click)="toggleSidebar()" class="example-icon" aria-label="Example icon-button with menu icon" >
        <mat-icon>menu</mat-icon>
      </button>
      <span>Menu</span>
      <span class="example-spacer"></span>

        <button class="btn-login" (click)="openDialog()">Login </button>
        <button class="btn-left">
         <mat-icon>shopping_cart</mat-icon>
</button>
        <button class="btn-left" ><mat-icon class="icon-login">login</mat-icon></button>





    </mat-toolbar>
  </p>

