<h1 mat-dialog-title>Login</h1>
<mat-dialog-content>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput placeholder="Enter your username">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>

    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input type="password" matInput placeholder="Enter your username">
      <mat-icon matSuffix>lock</mat-icon>

    </mat-form-field>
  </p>

</mat-dialog-content>
