
<mat-nav-list class="nav-top">
  <div class="nav-title">
    <h1 matSubheader>Sales system</h1>
  </div>
<hr class="divider">
  <ul class="list-group" *ngFor="let item of menu">
    <li  class="nav-item">
      <a mat-list-item  routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
       class="list-group-item" routerLink="/dashboard/{{item.path}}">
        <mat-icon>{{item.icon}}</mat-icon> {{item.title}}
      </a>
    </li>

    <hr class="dividerMid">
  </ul>

</mat-nav-list>
