<mat-nav-list>
  <div class="nav-title">
    <h1 matSubheader>E-Commerce APP</h1>
  </div>

  <hr />
  <div class="nav">
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/content">
      <mat-icon>home</mat-icon> Home
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/seller">
      <mat-icon>description</mat-icon>Seller
    </a>
    <a
      mat-list-item
      routerLinkActive="list-item-active"
      routerLink="/all-items"
    >
      <mat-icon>assignment</mat-icon> All items
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/skills">
      <mat-icon
        ><span class="material-symbols-outlined"> checklist </span></mat-icon
      >
      Categories
    </a>
  </div>
</mat-nav-list>
