:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-drawer {
  width: 260px;
}
mat-drawer-container {
  height: 100%;
  background-color: var(--green-6);
  color:var(--green-1)
}

mat-drawer {
  background: var(--green-7);
}
