/* You can add global styles to this file, and also import other style files */
@import './theme/colors.scss';


html, body { height: 100%; padding: 0;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--blue-6); }

mat-form-field{
  width: 90%;


}
table {
  width: 100%;

}








/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
